/** {*/
/*    border: 1px solid black;*/
/*}*/

body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Roboto Slab';
  background-color: #d7fdf0;
}
h2 {
    font-style: italic;
    color: #172121;
}
h1{
    color: #172121;
}
h5 {
    font-weight: bold;
}

.btn {
    width: 112px !important;
    margin: 0px 10px;
    background-color: #aa78a6;
    color: #ffffff;
    border: 2px solid #34113f;
}
.btn:hover{
    background-color:#34113f;
    border: 2px solid #34113f;
}
.header-item {
    vertical-align: middle;
    text-align: center;
    margin: 5px 44px 5px 0px;
}
.button-list {
    list-style-type: none;
}
.button-list li {
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}
.content {
    margin-top: 20px;
}
.img-circle {
    border-radius: 50%;
}
.narrow{
   width:100%;
   max-width: 780px;
   margin: 0px auto;
}
/*.narrow{*/
/*   width: 80%;*/
/*   max-width: 700px;*/
/*   height: auto;*/
/*   margin-left: 10%;*/
/*}*/

.profile_pic {
    height: auto; 
    width: auto; 
    max-width: 540px; 
    max-height: 540px;
    margin: 15px 0px;
    display: block;
}
.section-title {
    font-style: oblique;
    text-decoration: underline;
}

.resume-left {
    display: inline-block;
}

.resume-right {
    /*float: right;*/
    /*position: relative;*/
    position: absolute;
    right: 0;
    bottom: 0;
}

.resume-row {
    display:block;
    margin:0px;
    position: relative;
}