/** {*/
/*    border: 1px solid black;*/
/*}*/

body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Roboto Slab';
  background-color: #d7fdf0;
}
h2 {
    font-style: italic;
}
h1, h2 {
    color: #172121;
}
.btn {
    width: 112px !important;
    margin-right: 10px;
    background-color: #aa78a6;
    color: #ffffff;
    border: 2px solid #34113f;
}
.btn:hover{
    background-color:#34113f;
    
    border: 2px solid #34113f;
}
.content {
    margin-top: 20px;
}
.img-circle {
    border-radius: 50%;
}
.make-center{
   width:100%;
   max-width: 700px;
   margin: 0px auto;
}
.name {
    vertical-align: middle;
    text-align: center;
    margin: 5px 44px 5px 0px;
}
.narrow{
   width: 80%;
   max-width: 700px;
   height: auto;
   margin-left: 10%;
}
.nav-pills {
    margin: 5px 10px 5px 0px;
}
.profile_pic {
    height: auto; 
    width: auto; 
    max-width: 540px; 
    max-height: 540px;
    margin: 15px 0px;
    display: block;
}
.section-title {
    font-style: oblique;
    
}