<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-6 col-xs-12">
        <img class="profile_pic img-circle" src="http://i.imgur.com/VZF2KB3.jpg">
    </div>
    <div class="col-sm-6 col-xs-12">
        <h1>la jolie folie </h1>
        <h2>beautiful madness</h2>
        <br/>
        <p>
        Hey! I'm Christine, a backend-focused developer with functional web
        development experience. I have a passion for cybersecurity, and I'm
        working on learning how to make my applications more secure by applying
        an attacker's mindset to my development method. I'm constantly working
        on refining my skills to complete tasks I'm interested in, as well as
        keeping an eye open for new technologies that might serve my interests
        better. As I'm fairly new to the web development side of the aisle,
        I enjoy talking to those more skilled than I am. If I'm not in a
        position where there are more knowledgeable people than me, then I'm not
        in the right place.
    </p>
    <p>
        I'm driven both at work and in my personal life. I have many hobbies
        that I use to challenge myself in my free time, whether it's coding
        or pushing myself to become a better Magic: the Gathering player! Yes,
        I am one of those people who watches professional Magic coverage! Oh,
        and I speak French fairly fluently. <i>Merci de visiter mon site!</i>
    </p>
    </div>
</div>
{% endblock %}