<!DOCTYPE html>
<html lang="en_US">
<head>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/lajoliefolie.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The personal website of Christine Lewis, a Charleston-based software engineer.">
    <meta name="author" content="Christine Lewis">
    {% block extra_header %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="name">Christine Lewis</h1>
            </div>
            <div class="col-sm-6">
                <ul class="button-list">
                    <li><a class="btn btn-large btn-primary" href="aboutme">About Me</a></li>
                    <li><a class="btn btn-large btn-primary" href="resume">Résumé</a></li>
                    <li><a class="btn btn-large btn-primary" href="links">Links</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>