{% extends 'base.html' %}
{% block extra_header %}
    <title>Christine Lewis: Links</title>
{% endblock %}
{% block content %}
<div class="make-center">
    <h3>External Links</h3>
    <ul class="nav nav-pills narrow">
        <li><a class="btn btn-large btn-primary" href="https://github.com/lajoliefolie" target="_blank">GitHub</a></li>
    </ul>
    <h3>Project Links</h3>
    <ul class="nav nav-pills narrow">
        <li><a class="btn btn-large btn-primary" href="https://github.com/lajoliefolie" target="_blank">GitHub</a></li>
        <li><a class="btn btn-large btn-primary" href="https://github.com/lajoliefolie" target="_blank">GitHub</a></li>
        <li><a class="btn btn-large btn-primary" href="https://github.com/lajoliefolie" target="_blank">GitHub</a></li>
    </ul>
</div>
{% endblock %}